<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<properties>
        <property name="" value=""/>
    </properties>-->
    <settings>
        <setting name="safeRowBoundsEnabled" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="cacheEnabled" value="false"/>
    </settings>
    <!--<typeAliases>
        <typeAlias type="" alias=""/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="" javaType="" jdbcType=""/>
    </typeHandlers>
    <plugins>
        <plugin interceptor=""></plugin>
    </plugins>-->

</configuration>